allow mm-qcamerad camera_data_file:dir { write };
allow mm-qcamerad camera_data_file:dir { add_name };
allow mm-qcamerad camera_data_file:file { create };
allow mm-qcamerad camera_data_file:file { write };
allow mm-qcamerad camera_data_file:file { open };
allow mm-qcamerad camera_data_file:file { getattr };
